*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #EE2277, #99005A);
}

.wrap {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}