* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

body {
    background-image: linear-gradient(to bottom right, #CC285E, #FF5858);
    min-height: 100vh;
  }

  