* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" sans-serif;
  }

  header {
    padding: 10px 15px;
    background-color: #272727;
  }

  h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
  }