* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #222;
}

.swipe-in-text {
  position: relative;
}

.swipe-in-text:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 90%;
  width: 90%;
  bottom: 0;
  z-index: 1;
  background-color: #FF5858;
}

.swipe-in-text .text {
  color: #FFF;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
}

