* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #222;
}

header .container {
  position: relative;
  max-width: 960px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .brand h2 {
  color: #FFF;
  font-size: 28px;
  font-weight: 900;
}

header .container .brand h2 span {
  color: #FF5858;
  font-weight: 400;
}

header .container .navbar .menu {
  display: flex;
  list-style-type: none;
}

header .container .navbar .menu .menu-item {
  position: relative;
}

header .container .navbar .menu .menu-item a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 10px 25px;
}

header .container .navbar .menu .menu-item a:hover {
  color: #FF5858;
  background-color: #323232;
}

header .container .navbar .menu .menu-item.has-sub-menu > a {
  position: relative;
  padding-right: 35px;
}

header .container .navbar .menu .menu-item.has-sub-menu > a:after {
  content: '+';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
}

header .container .navbar .menu .menu-item.has-sub-menu > a:hover::after {
  color: #FF5858;
}

header .container .navbar .menu .menu-item.has-sub-menu .sub-menu {
  position: absolute;
  z-index: 999;
  opacity: 1;
  transform: translateY(-200px);
  pointer-events: none;
  transition: 0.4s ease-out;
  min-width: 100%;
  width: max-content;
  background-color: #222;
  list-style-type: none;
}

header .container .navbar .menu .menu-item.has-sub-menu .sub-menu .menu-item {
  width: 100%;
}

main section {
  padding-top: 50px;
  padding-bottom: 50px;
}

main section h1 {
  color: #666;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

main section .image-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

main section .image-wrap .image {
  display: block;
  width: 100%;
  max-width: 480px;
}

main section .content-wrap {
  display: block;
  max-width: 768px;
  margin: 0 auto;
}

main section .content-wrap p {
  color: #676767;
  font-size: 18px;
  font-weight: 400;
}
