* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #CC3E5D, #FF5858);
}
/* 
.page-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */