* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FF5858;
}

.colour {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 2rem;
    text-transform: uppercase;
}